
<mat-sidenav-container>

  <mat-sidenav id="nav-bar" class="mat-elevation-z8">
    <button mat-button class="menu-button">
        <mat-icon class="icon-display" routerLink="/customer">person</mat-icon>
    </button>
    <button mat-button class="menu-button">
        <mat-icon class="icon-display" routerLink="/vacation">shopping_cart</mat-icon>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
