
.content-detail {
  top: 0;
  margin: 25px;
  height: 100%;
  width: 1500px;
  display: inline-block;
}

.back-button {
  width: 100px !important;
}

.vacation-title {
  font-size: 1.3rem;
}

.vacation-info-cell {
  display: initial;
  position: relative;
  top: 0;
}

.vacation-info-div {
  padding-left: 25px;
}

.button-31.select-excursions {
  margin-top: 155%;
}

#vacation-image {
  height: 400px;
  width: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}
