.content {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

.vacation-card-image {
  width: 100%;
  height: 300px;
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.vacation-card-image img {
  max-height: 100%;
  max-width: 100%;
}

.mat-card {
  padding: 0px;
  margin-bottom: 20px;
}

.mat-card p {
  padding-left: 16px;
  padding-right: 16px;
}

.price {
  font-size: 1.3rem;
}

.menu-button {
  position: absolute;
  bottom: 18px;
  right: 25px;
  transform: scale(1.5);
  width: 0px;
}

.grid {
  float: left;
  width: 80%;
}

.cart-container {
  float: right;
  width: 20%;
}

.cart {
  margin: 16px;
  background: white;
  color: black;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  padding-left: 0;
  margin-left: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
